@{
    ViewData["Title"] = "Products";
}

<div class="d-flex gap-2">
    <a asp-action="All" class="btn btn-primary">All Products</a> 
    <a asp-action="InStockOnly" class="btn btn-outline-primary">In Stock</a>
    <a asp-action="Create" class="btn btn-success">Create</a>
</div>
